@model List<SnaFoo.Models.Snack>
<div class="shelf shelf_1">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Snack Name</th>
                <th scope="col">Purchase Location</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model)
            {
                <tr>
                    <td>@s.Name</td>
                    <td>@s.PurchaseLocations</td>
                </tr>
            }
        </tbody>
    </table>
</div>